<div class="container mx-auto h-screen flex flex-col bg-slate-800">
  <div class="relative flex flex-col h-full w-full">
    <!-- chat section -->
    <div
      class="flex-grow flex flex-col gap-3 p-3 w-full overflow-y-auto max-h-[calc(100vh-80px)] pb-16"
    >
      <div
        class="text-white hover:bg-slate-800 overflow-x-auto p-3 rounded-lg cursor-pointer"
      >
        <markdown [data]="summary"></markdown>
      </div>
    </div>
    <!-- input to collect prompts -->
    <div
      class="w-full flex border border-slate-500 p-3 rounded-full justify-center gap-2 bg-slate-800 mx-auto fixed bottom-2 left-0 right-0 max-w-2xl"
    >
      <input
        type="text"
        [(ngModel)]="prompt"
        placeholder="Message Gemini"
        class="bg-transparent flex-grow rounded text-white px-2 h-10 outline-none focus:outline-none"
      />
      <div
        (click)="onSubmit()"
        class="h-[40px] w-[40px] cursor-pointer hover:bg-slate-500 text-slate-400 bg-slate-700 active:bg-midnight-750 hover:bg-midnight-650 flex items-center justify-center font-bold p-1 rounded-full"
      >
        @if(!loading){

        <svg
          viewBox="0 0 24 24"
          height="24"
          width="24"
          preserveAspectRatio="xMidYMid meet"
          class=""
          version="1.1"
          x="0px"
          y="0px"
          enable-background="new 0 0 24 24"
        >
          <title>send</title>
          <path
            fill="currentColor"
            d="M1.101,21.757L23.8,12.028L1.101,2.3l0.011,7.912l13.623,1.816L1.112,13.845 L1.101,21.757z"
          ></path>
        </svg>
        } @else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-loader"
        >
          <path d="M12 2v4" />
          <path d="m16.2 7.8 2.9-2.9" />
          <path d="M18 12h4" />
          <path d="m16.2 16.2 2.9 2.9" />
          <path d="M12 18v4" />
          <path d="m4.9 19.1 2.9-2.9" />
          <path d="M2 12h4" />
          <path d="m4.9 4.9 2.9 2.9" />
        </svg>
        }
      </div>
    </div>
  </div>
</div>
